<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
</head>
<body>
<div>
<!--    <div th:if="${#authentication != null}" style="display: inline;">-->
<!--&lt;!&ndash;        Zalogowany jako: <strong th:text="${httpServletRequest.remoteUser}"></strong>&ndash;&gt;-->
<!--        Zalogowany jako: <span th:text="${#authentication.name}"></span>-->
<!--        |-->
<!--&lt;!&ndash;        <a th:href="@{/logout}">Wyloguj</a>&ndash;&gt;-->
<!--        <form th:action="@{/logout}" method="post" style="display:inline;">-->
<!--            <button type="submit">Wyloguj</button>-->
<!--        </form>-->
<!--    </div>-->
    <div th:if="${#authentication != null}" style="display: inline;">
        Zalogowany jako: <strong th:text="${#authentication.name}"></strong>
        |
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Wyloguj</button>
        </form>
        <button type="button" onclick="location.href='/'">Home</button>
        <button type="button" onclick="location.href='/learn'">Nauka</button>
        <button type="button" onclick="location.href='/quiz'">Quiz</button>
    </div>


<h1>Flashcards</h1>

<form th:action="@{/flashcards/view}" th:object="${flashcard}" method="post">
    <label>Front: <input type="text" th:field="*{front}" /></label><br>
    <label>Back: <input type="text" th:field="*{back}" /></label><br>
    <label>Category:
        <select th:field="*{category}">
            <option value="" disabled selected>Select a category</option>
            <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"></option>
        </select>
    </label><br>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <label for="userId">Assign to user ID</label>
    <input id="userId" type="number" name="userId" placeholder="Optional" />
    <small>(Visible only for admins)</small>
    </div>
    <button type="submit">Add Flashcard</button>
</form>

<hr>




<ul>
    <li th:each="card : ${flashcards}">
        <strong th:text="${card.front}">Front</strong> →
        <span th:text="${card.back}">Back</span>
        (<em th:text="${card.category}">Category</em>)
    </li>
</ul>

</body>
</html>
