<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Quiz</title>
</head>
<body>
<h2>Select categories</h2>


<form th:action="@{/quiz/start}" th:object="${quizRequest}" method="post">
    <ul>
        <li th:each="cat : ${categories}">
            <label>
                <input type="checkbox" th:value="${cat}" th:field="*{categories}" />
                <span th:text="${cat}"></span>
            </label>
        </li>
    </ul>

    <label>
        <input type="checkbox" th:field="*{includePublic}" />
        Include public flashcards
    </label>

    <br/><br/>

    <!-- validation error to display if provided  -->
    <p th:if="${quizError}" th:text="${quizError}"> </p>

    <button type="submit">Start Quiz</button>
</form>
</body>
</html>
