<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Result</title>
</head>
<body>
<h1>Quiz Finished!</h1>

<p th:text="'You got ' + ${correctCount} + ' out of ' + ${total} + ' correct.'"></p>

<div th:if="${correctCount} >= ${total} * 0.8">
    <p>Great job!</p>
</div>
<div th:unless="${correctCount} >= ${total} * 0.8">
    <p>Keep practicing!</p>
</div>

<button onclick="location.href='/quiz'">Try Again</button>
<button onclick="location.href='/'">Home</button>
</body>
</html>
